@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* 캔버스 위에서 기본 커서 숨기기 */
canvas {
  cursor: none;
}
